:root {
   --black: #333333;
   --light-wight: #f6f6f6;
   --light-blue: #D8ECFE;
   --basic-grey: #E1EDCE;
   --basic--green: #88AA4D;
   --light-purple: #F8DDD7;
   --basic-red: #F75531;
   --light-yellow: #FC9B27;
}