.advantages {
   background: #ffffff;
   padding: 0 90px 100px 90px;
}

.advantages__title {
   font-weight: 700;
   font-size: 36px;
   line-height: 115%;
   color: #333333;
   padding-top: 100px;
   text-align: center;
   margin-bottom: 64px;
}

.advantages__list {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 20px;
   grid-auto-flow: column;
   list-style: none;
   margin-bottom: 64px;
}

.advantages__item {
   background: #e1edce;
   width: 540px;
   padding: 20px;
}

.advantages__item:nth-child(3),
.advantages__item:nth-child(4) {
   background: #f8ddd7;
}

.advantages__minblock {
   display: flex;
   flex-flow: row-reverse;
   justify-content: start;
   align-items: flex-end;
   margin-bottom: 20px;
}

.advantages__img {
   margin-right: 20px;
}

.advantages__subtitle {
   font-weight: 700;
   font-size: 18px;
   line-height: 150%;
   color: #333;
   position: relative;
}

.advantages__subtitle::before {
   content: 'Фермерские продукты';
   position: absolute;
   top: -30px;
   left: 0;
   background: #88aa4d;
   padding: 2px 10px;
   font-weight: 400;
   font-size: 14px;
   line-height: 150%;
   color: #fff;
}

.advantages__subtitle3::before,
.advantages__subtitle4::before {
   content: 'Магазинные продукты';
   position: absolute;
   top: -30px;
   left: 0;
   background: #f75531;
   padding: 2px 10px;
   font-weight: 400;
   font-size: 14px;
   line-height: 150%;
   color: #fff;
}

.advantages__description {
   font-weight: 400;
   font-size: 18px;
   line-height: 150%;
   color: #333;
}

.advantages__button {
   width: 260px;
   height: 60px;
   background: #fc9b27;
   border: none;
   margin: 0 auto;
   display: block;
}

.advantages__button > a {
   font-weight: 700;
   font-size: 18px;
   line-height: 150%;
   color: #fff;
}